{% extends "base.html" %}

{% block navigation %}
<ul id="navlist">
  <li id="active"><a href="{{ url_for('index') }}" id="current">Home</a></li>
  <li><a href="{{ url_for('links', tagid=0) }}">Links</a></li>
  <li><a href="{{ url_for('tags') }}">Tags</a></li>
  <li><a href="{{ url_for('admin') }}">Admin</a></li>
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="content">
  <div id="listcol">
    <ul>
    <form action="{{ url_for('add_link') }}" method="POST">
      <li><h3>Links</h3></li>
      <p>New Link: <input type="text" name="name" maxlength="255" value="" /></p>
      <p> URL: <input type="text" name="passwd" maxlength="255" /></p>
      <p><input type="submit" class="submit" name="action" value="Add Link" /></p>
    </form>
    </ul>
  </div>
  <div id="listcol">
    <ul>
    <form action="{{ url_for('add_tag') }}" method="POST">
      <li><h3>Tags</h3></li>
      <p>New Tag: <input type="text" name="name" maxlength="255" value="" /></p>
        <p><input type="submit" class="submit" name="action" value="Add Tag" /></p>
      </form>
    </ul>
   </div>
{% endblock %}
