{% extends "base.html" %}

{% block navigation %}
<ul id="navlist">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('links', tagid=0) }}" id="current">Links</a></li>
  <li id="active"><a href="{{ url_for('tags') }}">Tags</a></li>
  <li><a href="{{ url_for('admin') }}">Admin</a></li>
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
Search: <input type="text" class="search-box" placeholder="Search" />
<h1 class="tagcloud">Tag: {{ tag_name }}</h1>
<ul class="tagcloud">
  {% for link in link_list: %}
    <li><a href="{{ link[2] }}" target="_blank" class="tag" style="font-size:{{ link[3] }}%; color: {{ link[4] }}" onclick=linkCount({{ link[0] }})>{{ link[1] }}</a> <span class="count">({{ link[5] }})</span></li> 
 {% endfor %}
</ul>
{% endblock %}
