{% extends "base.html" %}

{% block navigation %}
<ul id="navlist">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('links', tagid=0) }}">Links</a></li>
  <li><a href="{{ url_for('tags') }}">Tags</a></li>
  <li id="active"><a href="{{ url_for('admin') }}" id="current">Admin</a></li>
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="listcol">
  <ul>
    <li><h3>Modify Link</h3></li><br />
    <form action ="{{ url_for('modify_link') }}" method="POST">
      <p><input type="submit" class="submit" name="action" value="Delete" /></p>
		  <fieldset><legend>Link</legend>
		    <p><label for "id">Link ID:</label></label><input type="text" name="id" maxlength="255" value="{{ link[0] }}" readonly/></p>
        <p><label for "url">URL:</label><input type="text" name="url" maxlength="255" value="{{ link[2] }}" /></p>
        <p><label for "name">Name:</label><input type="text" name="name" maxlength="255" value="{{ link[1] }}" />
           <label for "clicks">Clicks:</label><input type="text" name="clicks" maxlength="255" value="{{ link[3] }}" /></p>
		  </fieldset>
      <p><input type="submit" class="submit" name="action" value="Update" /></p>
		  <fieldset><legend>Tags</legend>
            {% for tag in alltags: %}
			  {% if tag[1] in linktags: %}
				<p><input type="checkbox" name="checked_tags" value="{{ tag[1] }}" id="{{ tag[1] }}" checked />
				   <label for="{{ tag[1] }}">{{ tag[0] }}</label></p>
			  {% else: %}
				<p><input type="checkbox" name="checked_tags" value="{{ tag[1] }}" id="{{ tag[1] }}" />
				   <label for="{{ tag[1] }}">{{ tag[0] }}</label></p>
			  {% endif %}
		    {% endfor %}
		  </fieldset>
      <!-- <fieldset>
        <legend>Links</legend>
        <p class="search-list"><input type="checkbox" name="checked_links" value="{{ link[1] }}" id="{{ link[0] }}" />
        <label for="{{ link[0] }}">{{ link[1] }}</label></p>
      </fieldset> -->
    </form>
  </ul>
</div>
{% endblock %}
