{% extends "base.html" %}

{% block navigation %}
<ul id="navlist">
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('links', tagid=0) }}">Links</a></li>
  <li><a href="{{ url_for('tags') }}">Tags</a></li>
  <li id="active"><a href="{{ url_for('admin') }}" id="current">Admin</a></li>
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="listcol">
  <ul>
    <li><h3>Modify Tag</h3></li><br />
    <form action ="{{ url_for('modify_tag') }}" method="POST">
        <p>
          <input type="submit" class="submit" name="action" value="Delete" />
          <input type="submit" class="submit" name="action" value="Update" />
        </p>
		  <fieldset><legend>Category Tag</legend>
		    <p>
                <label for "id">Tag ID:</label></label><input type="text" name="id" maxlength="255" value="{{ tag[0] }}" readonly/>
            </p>
            <p>
                <label for "name">Name:</label><input type="text" name="name" maxlength="255" value="{{ tag[1] }}" />
            </p>
		  </fieldset>
    </form>
  </ul>
</div>
{% endblock %}
